table {
	font-family: Roboto;
	border-collapse:collapse;
}

th {
    background-color: #355C7D;
    color: white;
}

th, td {
	width: 250px;
	padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.leftHeader {
	border-radius: 3px 0px 0px 3px;
}

.rightHeader {
	border-radius: 0px 3px 3px 0px;
}

tr:hover {background-color: #f5f5f5;}


.outer {
	height: 34px;
	padding: 2px;
    display: flex;
  	flex-direction: column;
  	justify-content: center;
  	border-radius: 5px;
  	background-color: #dee6ed;
	position: relative;
}

.inner {
	height: 30px;
	border-radius: 3px;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
	position: absolute;
}

.maxRes {
	background-color: #C06C84;
}

.lowRes {
	background-color: #F8B195;
}

p {
	z-index: 100;
	padding: 0 10px 0 10px;
}

p .alignleft {
	float: left;
}
p .alignright {
	float: right;
}


