table {
	overflow-x: auto;
	display: block;
	font-family: Roboto;
	border-collapse:collapse;
}

th {
	padding: auto 10px;
}

th, td {
	min-width: 150px;
	max-width: 150px;
	padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tbody {
   height: 600px;
   overflow-y: auto;
   overflow-x: hidden;
   display: block;
}

.leftHeader {
	border-radius: 3px 0px 0px 3px;
}

.rightHeader {
	border-radius: 0px 3px 3px 0px;
}

tr:hover {background-color: #f5f5f5;}

.mainTable {}
.mainTBody {}

.outer {
	height: 34px;
	padding: 2px;
    display: flex;
  	flex-direction: column;
  	justify-content: center;
  	border-radius: 5px;
  	background-color: #dee6ed;
	position: relative;
}

.inner {
	height: 30px;
	border-radius: 3px;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
	position: absolute;
}

.maxRes {
	background-color: #C06C84;
}

.lowRes {
	background-color: #F8B195;
}

p {
	z-index: 100;
	padding: 0 10px 0 10px;
}

p .alignleft {
	float: left;
}
p .alignright {
	float: right;
}

.attributesDiv {
	margin: 5px;
	float: left;
}

.sortingSymbol {
	float: right;
}

.weightInput {
	width: 50%;
	height: 20px;
	margin-bottom: 50px;
}


